# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.hprof

# Android/IntelliJ
android/build/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
.idea/

# iOS
ios/build/
ios/Pods/
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
ios/!default.pbxuser
ios/!default.mode1v3
ios/!default.mode2v3
ios/!default.perspectivev3
ios/xcuserdata
ios/.xcode.env.local

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.log/

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# testing
coverage/

# Temporary files
*.swp
*.swo
*~

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Xcode
*.xcworkspace
!default.xcworkspace
xcuserdata/

# Gradle
.gradle/
build/

# EAS
eas.json.local
